/* Full Contact page alignment */
.contactpage {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}
 
/* Contact details of the manager and coordinator alignment */
.contactDetails {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: flex-start;
}

/* Contact details of the manager and coordinator alignment */
.contactManagerCoordinator {
    border: 2px solid rgb(67, 99, 169);
    border-radius: 1em;
    padding: 20px;
    display: inline-block;
    background-color: hsl(218, 33%, 95%);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: center;
    width: 100%;
    min-width:350px; 
    max-width: 300px; 
}

.contactMCDetails {
    text-align: center;
    align-items: center;
}

.contactMCDetails a{
    color: #000000;
}

.contactMCDetails a:hover{
    color: #5c5757;
}

.contactMCDetails h3:hover{
    color: #5c5757;
}

/* Photo of the manager alignment */
.contactManagerCoordinator .Dr-Upul-Jayasinghe-img {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
}

/* Photo of the coordinator alignment */
.contactManagerCoordinator .Dr-Erunika-Dayaratna-img {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
}

.contactIcons {
    width:5%;
    padding: 5%;
    margin: 1%;
    background-color: #ffffff;
    border-radius: 50%;
    color:#5888bf ;
    transition: transform 0.5s ease;
}

.contactIcons:hover{
    color:#7daada ;
    transform: rotate(45deg);
}


/* ** Contact Us Form** */

.contactUsForm {
    flex-direction: center;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: left;
    font-size: 20px;
}

/* The contact us form title */
.ContactUsTitle h3{
    text-align: center;
    color:hsl(0, 0%, 0%);
    font-size: 24px;
    font-family: 'Caudex';
    font-weight: bolder;
}

.ContactUsSubTitle {
    font-size: 16px;
    color: #36373a;
    text-align: center;
}

/* The Image in contact us form */
.contactUsForm img{
    width: auto;
    height: 400px;
    margin-top: 205px;
    margin-right: 20px;
    margin-left: 20px;
}

/* The contact us form */
.contactUsForm form {
    margin-right: 20px;
    margin-left: 20px;
}

/* Data input boxes and their topics */
.inputbox {
    margin-top: 20px;
    width: 400px;
    font-size: 18px;
}

/* Inside the data input boxes */
.inputbox .field {
    width: 100%;
    background: transparent;
    border: 2px solid #c9e1ef;
    outline: none;
    padding: 15px;
    font-size: 16px;
    color: #333;
    margin-top: 8px;
}

/* Message input section */
.inputbox .field-mess {
    width: 93%;
    height: 100px;
    background: transparent;
    border: 2px solid #c9e1ef;
    outline: none;
    padding: 15px;
    font-size: 16px;
    color: #333;
    margin-top: 8px;
    resize: none;
    font-family: Sans-serif;
}

/* Send Message button */
.contactButton {
    width: 200px;
    height: 50px;
    background: hsl(211, 44%, 66%);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font: #ffffff;
    color: #000000;
    margin-top: 10px;
}

/* Send Message button when the mouse point to that*/
.contactButton :hover{
    background: hsl(211, 40%, 69%);
    color: #2a2929;
}

/* For smaller screens */
@media (max-width: 1000px) {
    .contactTitle {
        margin-left: 5%;
    }

    .contactUsForm {
        margin-bottom: 50px;
    }
    .contactDetails {
        align-items: center;
        flex-direction: column;
        display: flex;
    }
    .contactUsForm img{
        display:none;
    }

    .inputbox {
        margin-top: 20px;
        width: 350px;
        
    }
    .ContactUsSubTitle {
        margin-left: 1%;
    }

    .contactMCDetails {
        width: 100%;
    }
}