/* Section for the upload form */
.upload-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  width: 90%;
}

.checkboxContainer {
  display: flex;
  align-items: center; /* Aligns checkbox with the label */
}

/* Download and youtube link watch section*/
.downloadSection {
  display: grid;
  gap: 20px;
  background-color: hsl(0, 0%, 100%);
  margin: 0 5% 5%;
}
/* Styling for section headings */
.downloadSection h4 {
  font-size: 20px;
  font-family: 'Caudex', serif;
  color: #000000;
}

/* Each file item in the download section */
.fileItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: hsl(225, 22%, 96%);
  border: 2px solid hsl(219, 56%, 39%);
  border-radius: 10px;
  position: relative; /* Enables the absolute positioning of the fileActions */
  flex-wrap: wrap; /* Allows wrapping of content when necessary */
}

/* Content section inside file items */
.fileContent {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 10px;
}

/* Action buttons in file items (e.g., download, delete) */
.fileActions {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative; /* Remove absolute positioning for responsiveness */
  margin-left: auto; /* Keeps the buttons aligned to the right */
  padding: 10px;
}

/* Styling for action buttons and links */
.fileActions button,
.fileActions a {
  background: none;
  border: none;
  cursor: pointer;
  color: #1f4681;
  display: flex;
  align-items: center;
  font-size: 16px;
}

/* Hover effect for action buttons and links */
.fileActions button:hover,
.fileActions a:hover {
  color: #4e679b;
}

/* Remove underline from links */
.fileActions a {
  text-decoration: none;
  color: #1f4681;
  font-size: 16px;
}

/* Styling for file item images */
.fileItem img {
  width: auto;
  height: 40px;
  margin-right: 10px;
}

/* Styling for file item text */
.fileItem p {
  margin: 0;
}

/* Small screen responsiveness */
@media (max-width: 760px) {

  /* Adjust download section for small screens */
  .downloadSection {
    flex-direction: column;
    align-items: center;
  }

  /* Hide images on small screens */
  .downloadSection img {
    display: none;
  }

  /* Adjust file item layout for small screens */
  .fileItem {
    flex-direction: row; /* Stack content vertically on small screens */
    align-items: flex-start; /* Align content to the left */
  }

  /* Add spacing between file content and actions */
  .fileContent {
    margin-bottom: 10px; /* Adds spacing between file content and actions */
  }

  /* Adjust action buttons for small screens */
  .fileActions {
    justify-content: flex-start; /* Align buttons to the left */
    width: 15%; /* Allow the buttons to take full width */
  }
}