
.downloadTitle {
  margin-top: 1%;
    margin-left: 5%;
    text-align: left;
    font-size: 20px;
    font-family: 'Caudex';
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
}

.upload-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  width: 90%;
}

.addcancelbutton {
  background-color: hsl(211, 44%, 66%);
  border: none;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.addcancelbutton:hover {
  background-color: hsl(211, 40%, 69%);
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* border: 1.5px solid hsl(222, 83%, 98%); */
  border: 2px solid rgba(10, 48, 128);
  border-radius: 20px;
  background-color: #e1edf9;
  /* box-shadow: 2px 2px 5px rgba(63, 108, 148, 0.1), 
              -2px -2px 5px rgba(255, 255, 255, 0.7), 
              2px -2px 5px rgba(255, 255, 255, 0.7), 
              -2px 2px 5px rgba(63, 108, 148, 0.1); */
  width: 90%;
  max-width: 400px;
  margin-left: 5%;
  margin-right: 5%;
}

.upload-form h4 {
  font-size: 24px;
  color: #203a90;
}

.upload-form input[type="file"],
.upload-form input[type="text"] {
  width: 100%;
  max-width: 300px;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  background-color: #ffffff;
  border: 1px solid hsl(209, 63%, 81%);
  box-shadow: inset 0px 1px 2px rgba(136, 185, 240, 0.1);
}

.upload-form input[type="text"] {
  font-size: 16px;
  color: black;
}

.upload-form label {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: hsl(0, 0%, 30%);
  margin-bottom: 15px;
}

.upload-form button {
  width: 100%;
  max-width: 150px;
  height: 45px;
  background: #203a90;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  /* font-weight: bold; */
  /* transition: background 0.3s ease, transform 0.2s ease; */
}

.upload-form button:hover {
  background: hsl(211, 46%, 50%);
  transform: scale(1.02);
}

.upload-form button:active {
  transform: scale(0.98);
}

.downloadSection {
  display: grid;
  gap: 20px;
  display: left;
  background-color: hsl(0, 0%, 100%);;
  margin-left: 5%;
  margin-right: 5%; 
  margin-bottom: 2%;
}


.fileItem {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  padding: 10px;
  background:  hsl(94, 41%, 97%);
  border: 2px solid hsl(105, 68%, 24%);
  border-radius: 10px;
  /* box-shadow: 2px 2px 5px rgba(63, 108, 148, 0.1), 
              -2px -2px 5px rgba(255, 255, 255, 0.7), 
              2px -2px 5px rgba(255, 255, 255, 0.7), 
              -2px 2px 5px rgba(63, 108, 148, 0.1); */
  width: auto;
}

.fileItem p {
  /* margin: 10px 0; */
  text-align: left;
}

.downloadSection button {
  background: hsla(0, 0%, 100%, 0);
  border: none;
  cursor: pointer;
  color: #25610b;
  margin-left: 1%;
  align-items: right;
}

.downloadSection button:hover {
  background: hsla(0, 0%, 100%, 0);
  color: #478b45;
}

.downloadSection img {
  width: auto;
  height: 40px;
  margin-right: 1%;
  margin-top: 10px;
}

.downloadLinks {
  border: 2px solid rgba(10, 48, 128);
  border-radius: 20px;
  background-color: #e1edf9;
  /* box-shadow: 2px 2px 5px rgba(63, 108, 148, 0.1), 
              -2px -2px 5px rgba(255, 255, 255, 0.7), 
              2px -2px 5px rgba(255, 255, 255, 0.7), 
              -2px 2px 5px rgba(63, 108, 148, 0.1); */
  padding: 10px;
  display: center;
  margin-left: 5%;
  margin-right: 5%; 
  margin-bottom: 2%;
  text-align: center;
  width: auto;
  font-family: 'Caudex';
  
}

.downloadLinks img {
  height: 200px;
  width: auto;
}

.downloadLinks p {
  font-size: 16px;
  color: rgb(30, 85, 148);
}
 
.downloadLinks h4 {
  font-size: 20px;
  color: rgba(10, 48, 128);
}

.downloadLinks p:hover {
  font-size: 16px;
  color: hsl(211, 63%, 69%);
}

.addcancelbutton {
  width: 110px;
  height: 40px;
  background: #203a90;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
  display: center;
}






@media (max-width: 760px) {

  .downloadSection {
    flex-direction: column;
    align-items: center;
  }

  .downloadSection img {
    display: none;
  }
}