/* footer.css */

/* all the items in tne footer - footer background color and padding */
.footer { 
    background-image: url(../assets/footerBackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}

/* pera logo - size and spaces */
.pera-logo { 
    margin-top: 20px;
    max-width: 100px;
}

/* Content below the pera logo */
.logo-content { 
    margin: 5px 0;
    font-weight: bold;
    color: #4e4e51;
    text-align: left;
    font-size: 16px; /* Changed font size */
}

/* all the content of the footer excpet copyright statement */
.footer-nav { 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    justify-content: space-around;
    width: 100%;  /* Ensure it takes the full width for better alignment */
}

/* topics and their links are divided in to 3 nav parts */
.footer-nav nav { 
    margin: 0 15px;
    text-align: left;  /* Center the text and links */
    color: #4e4e51;
    font-family: Sans-Serif;
}

/* topics of the links */
.footer-nav h6 { 
    margin-top: 30px;
    font-size: 16px;
    margin-bottom: 5px;
}

/* links under the topics */
.footer-nav ul { 
    list-style-type: none;
    padding: 0;
}

/* lists of links under the topics */
.footer-nav ul li { 
    margin-bottom: 5px;
    font-size: 16px;
}

.footer-nav ul li a {
    text-decoration: none;
    color: #4e94de;

}

.footer-nav ul li a:hover {
    /* text-decoration: underline; */
    color: hsl(211, 44%, 66%); /* Link color on hover */
}

/* Copyright statement of the webpage */
.footer-websiteName { 
    text-align: center;
    font-size: 14px;
    color: #4e4e51;
    font-family: Sans-Serif;
    order: 3;
}

/* fb logo used in the footer of the webpage */
.fbLogo { 
    height: auto;
    width: 25px;
}

/* youtube logo used in the footer of the webpage */
.ytLogo { 
    height: auto;
    width: 25px;
}

/* youtube logo used in the footer of the webpage */
.XLogo { 
    height: auto;
    width: 24px;
}

/* Adjust this value as needed */
li a img {
    margin-right: 10px; 
}

/* Ensure no margin after the last image */
li a:last-child img {
    margin-right: 0; 
}

/* Media query for small screens */
@media (max-width: 800px) {

    /* small screens adjustments with padding*/
    .footer {  
        align-items: flex-start;
        padding: 30px;
    }

    /* Stack navigation sections vertically */
    .footer-nav {
        flex-direction: column;  
    }

    /* Add some margin for spacing between sections */
    .footer-nav nav {
        margin: 10px 0;  
    }

    /* font size adjustments for smaller screens */
    .footer-nav h6 {
        margin-top: 10px;
        font-size: 16px;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .footer-nav ul li {
        font-size: 16px;
        font-weight: bold;
    }

    .footer-nav ul li a {
        text-decoration: none;
        color: #4e94de;
        font-weight: bold;
    }

    .footer-websiteName {
        font-size: 14px;
    }
}