/* footer.css */

.footer { /* all the items in tne footer - footer background color and padding */
    background-image: url(../assets/footerBackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}

.pera-logo { /* pera logo - size and spaces */
    margin-top: 20px;
    max-width: 100px;
}

.logo-content { /* Content below the pera logo */
    margin: 5px 0;
    font-weight: bold;
    color: #4e4e51;
    text-align: left;
    font-size: 16px; /* Changed font size */
}

.footer-nav { /* all the content of the footer excpet copyright statement */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    justify-content: space-around;
    width: 100%;  /* Ensure it takes the full width for better alignment */
}

.footer-nav nav { /* topics and their links are divided in to 3 nav parts */
    margin: 0 15px;
    text-align: left;  /* Center the text and links */
    color: #4e4e51;
    font-family: Sans-Serif;
}

.footer-nav h6 { /* topics of the links */
    margin-top: 30px;
    font-size: 16px;
    margin-bottom: 5px;
    
}

.footer-nav ul { /* links under the topics */
    list-style-type: none;
    padding: 0;
}

.footer-nav ul li { /* lists of links under the topics */
    margin-bottom: 5px;
    font-size: 16px;
}

.footer-nav ul li a {
    text-decoration: none;
    color: #4e94de;

}

.footer-nav ul li a:hover {
    /* text-decoration: underline; */
    color: hsl(211, 44%, 66%); /* Link color on hover */
}

.footer-websiteName { /* Copyright statement of the webpage */
    text-align: center;
    font-size: 14px;
    color: #4e4e51;
    font-family: Sans-Serif;
    order: 3;
}

.fbLogo { /* fb logo used in the footer of the webpage */
    height: auto;
    width: 25px;
}


/* Media query for small screens */
@media (max-width: 800px) {

    .footer { /* small screens adjustments with padding*/ 
        align-items: flex-start;
        padding: 30px;
    }

    .footer-nav {
        flex-direction: column;  /* Stack navigation sections vertically */
    }

    .footer-nav nav {
        margin: 10px 0;  /* Add some margin for spacing between sections */
    }

    /* font size adjustments for smaller screens */
    .footer-nav h6 {
        margin-top: 10px;
        font-size: 16px;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .footer-nav ul li {
        font-size: 16px;
        font-weight: bold;
    }

    .footer-nav ul li a {
        text-decoration: none;
        color: #4e94de;
        font-weight: bold;
    }

    .footer-websiteName {
        font-size: 14px;
    }
}