/* Container for adding new gallery items */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  width: 90%;
}

/* Form for adding new gallery items */
.add-gallery-form {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(22, 21, 21, 0.1);
  width: 700px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 3px;
}

/* Heading for the gallery add form */
.add-gallery-form h2 {
  text-align: center;
  color:hsl(226, 64%, 35%);
  font-size: 20px;
  margin-top: 0px;
}
  
/* Style for form groups */
.form-group {
  margin-bottom: 15px;
}

/* Style for form labels */
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
}

/* Style for form inputs */
.form-group input {
  background: transparent;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

/* Style for text, URL, and file input types */
  .form-group input[type="text"],
  .form-group input[type="url"],
  .form-group input[type="file"] {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #cccccc;
    border-radius: 4px;
  }
  
/* Container for form buttons */
.form-buttons {
  margin-top: 20px;
}

/* Style for form buttons */
.form-buttons button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #203a90;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
 

/* Hover effect for form buttons */
.form-buttons button:hover {
  opacity: 0.8;
}
  
/* Container for gallery items */
.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 10px;
}
  
/* Style for individual gallery tiles */
.gallery-tile {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(92, 67, 67, 0.1);
}
  
/* Style for images within gallery tiles */
.gallery-tile img {
  width: 100%;
  height: auto;
}
  
/* Heading style within gallery tiles */
.gallery-tile h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}
  
/* Style for links within gallery tiles */
.gallery-tile a {
  display: block;
  color: blue;
  text-decoration: none;
  margin-top: 10px;
  cursor: pointer;
}

.gallery-actions {
  position: absolute; /* Position it relative to .news-tile */
  bottom: 10px; /* Position it at the bottom of the tile */
  right: 10px;  /* Align it to the right */
}
  
/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {

  /* Adjust the gallery form width and padding */
  .add-gallery-form {
    padding: 15px;
    width: 100%;
  }
  
  /* Adjust font size for inputs */
  .form-group input[type="text"],
  .form-group input[type="url"],
  .form-group input[type="file"] {
    font-size: 0.9rem;
  }
}
  