.Gallery{
    margin-top: 2%;
    margin-left: 5%;
    text-align: left;
    margin-bottom: 3%;
    font-size: 20px;
}

.gallery-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.gallery-tile{
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery-tile img {
    width: 100%;
    height: auto;
}

.gallery-tile p {
    margin: 5px 0;
}

.gallery-tile a {
    display: block;
    color: blue;
    text-decoration: none;
    margin-top: 10px;
    cursor: pointer;
}