.ProfileTitle{
    margin-top: 2%;
    margin-left: 5%;
    text-align: left;
    margin-bottom: 3%;
    font-size: 20px;
    font-family: 'Caudex';
}

.profileDetails {
border: 2px solid  hsl(105, 68%, 24%);
  border-radius: 20px;
  background-color: hsl(102, 68%, 93%);
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 2%;
  font-family: 'Caudex';
  }
  

.userAccountInfo{
    display: flex;
    align-items: center;
    margin:0;
  }
  
  