.showDiv{

    display: block;

}

.hideDiv{
    display: none;
}

a{
   color: #000; 
}

a:hover{
    color: #2113e2;
}

.taskCards{
    border: 1px solid hsl(222, 83%, 98%);
    /*border-radius: 20px;*/
    /* box-shadow: 10px 10px 10px rgba(63, 108, 148, 0.1); */
    box-shadow: 2px 2px 5px rgba(63, 108, 148, 0.1), 
                -2px -2px 5px rgba(255, 255, 255, 0.7), 
                2px -2px 5px rgba(255, 255, 255, 0.7), 
                -2px 2px 5px rgba(63, 108, 148, 0.1);
    padding: 20px;
    display: block;
    /* background-color: hsl(128, 27%, 89%); */
    background-color: hsl(0, 0%, 100%);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    text-align: center;
}

/* Data input boxes and their topics */
.inputbox {
    display: flex;
    align-items: center;
    margin: 15px 20px;
  }
  .inputbox label{
    padding: 15px;
    font-size: 16px;
    width: 15% ;
  }
  
  /* Inside the data input boxes */
  .inputbox .field {
    width: 40%;
    position: absolute;
    left: 20%;
    background: transparent;
    border: 2px solid #c9e1ef;
    outline: none;
    padding: 15px;
    font-size: 16px;
    color: #333;
    
  }

  .inputbox .integerField {
    width: 5%;
    position: absolute;
    right: 40%;
    background: transparent;
    border: 2px solid #c9e1ef;
    outline: none;
    padding: 15px;
    font-size: 16px;
    color: #333;
    
  }

  /* New Entry Interface */
/* Form title */
.formTitle {
    text-align: center;
    color:hsl(226, 64%, 35%);
    font-size: 20px;
    margin-top: 0px;
  }
  /* Form */
  .dataForm form {
    margin-right: 20px;
    margin-left: 20px;
    justify-items: center;
  }

  .checkBoxContainer { 
    border:2px solid #ccc;
    width:300px;
    height: 100px; 
    overflow-y: scroll;
    scrollbar-color: white black;
    background: transparent;
    border: 2px solid #c9e1ef;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
