/* Table containers */
.container {
  display:flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid hsl(222, 83%, 98%);
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(63, 108, 148, 0.1),  
              -2px -2px 5px rgba(255, 255, 255, 0.7), 
              2px -2px 5px rgba(255, 255, 255, 0.7), 
              -2px 2px 5px rgba(63, 108, 148, 0.1);
  margin: 20px;
  padding: 10px;    
}

.buttonsBlock{
  display:flex;
  justify-content: center;
  align-items: center;
}

/* Anchor tag (link) styling */
a{
   color: #000; 
}

/* Hover effect for links */
a:hover{
    color: #2113e2;
}

/* Styles for task cards used for project tasks */
.taskCards{
    border: 1px solid hsl(222, 83%, 98%);
    /*border-radius: 20px;*/
    /* box-shadow: 10px 10px 10px rgba(63, 108, 148, 0.1); */
    box-shadow: 2px 2px 5px rgba(63, 108, 148, 0.1), 
                -2px -2px 5px rgba(255, 255, 255, 0.7), 
                2px -2px 5px rgba(255, 255, 255, 0.7), 
                -2px 2px 5px rgba(63, 108, 148, 0.1);
    padding: 20px;
    display: block;
    /* background-color: hsl(128, 27%, 89%); */
    background-color: hsl(0, 0%, 100%);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    text-align: center;
}

.viewTask{
  display: inline-block;
  margin: 5% 2%;
  text-align: center;
}

.viewTask h2{
  margin: 0;
  font-family: 'Caudex';
  color:hsl(226, 64%, 35%);
  font-size: 20px;
}

/* Styles for integer input fields with a smaller width */
.integerField {
  width: 8%;
  /* position: absolute; */
  right: 40%;
  background: transparent;
  border: 2px solid #c9e1ef;
  outline: none;
  padding: 15px;
  font-size: 16px;
  color: #000000;
  
}
  /* Container for checkboxes with scrollable content */
  .checkBoxContainer { 
    border:2px solid #ccc;
    width:400px;
    height: 80px; 
    overflow-y: scroll;
    overflow-x: scroll;
    scrollbar-color: white black;
    background: transparent;
    border: 2px solid #c9e1ef;
}

/* Inverts colors for the calendar picker icon */
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
