/* Title styling for the Project Management section */
.ProjectManagementTitle{
  margin-top: 2%;
  margin-left: 5%;
  text-align: left;
  margin-bottom: 1%;
  font-size: 20px;
  font-family: 'Caudex';
}

/* Class to show a div element (displayed by default) */
.showDiv{
    display: block;
}

/* Class to hide a div element (used for conditional display) */
.hideDiv{
    display: none;
}

/* Anchor tag (link) styling */
a{
   color: #000; 
}

/* Hover effect for links */
a:hover{
    color: #2113e2;
}

/* Styles for task cards used for project tasks */
.taskCards{
    border: 1px solid hsl(222, 83%, 98%);
    /*border-radius: 20px;*/
    /* box-shadow: 10px 10px 10px rgba(63, 108, 148, 0.1); */
    box-shadow: 2px 2px 5px rgba(63, 108, 148, 0.1), 
                -2px -2px 5px rgba(255, 255, 255, 0.7), 
                2px -2px 5px rgba(255, 255, 255, 0.7), 
                -2px 2px 5px rgba(63, 108, 148, 0.1);
    padding: 20px;
    display: block;
    /* background-color: hsl(128, 27%, 89%); */
    background-color: hsl(0, 0%, 100%);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    text-align: center;
}

/* Styles for input boxes and their labels in forms */
.inputbox {
    display: flex;
    align-items: center;
    margin: 15px 20px;
  }

  /* Styles for labels inside the input boxes */
  .inputbox label{
    padding: 15px;
    font-size: 16px;
    width: 15% ;
  }
  
/* Styles for input fields inside the input boxes */
  .inputbox .field {
    width: 40%;
    position: absolute;
    left: 20%;
    background: transparent;
    border: 2px solid #c9e1ef;
    outline: none;
    padding: 15px;
    font-size: 16px;
    color: #333;
    
  }

  /* Styles for integer input fields with a smaller width */
  .inputbox .integerField {
    width: 5%;
    position: absolute;
    right: 40%;
    background: transparent;
    border: 2px solid #c9e1ef;
    outline: none;
    padding: 15px;
    font-size: 16px;
    color: #333;
    
  }

/* Styles for the form title in the new entry interface */
.formTitle {
    text-align: center;
    color:hsl(226, 64%, 35%);
    font-size: 20px;
    margin-top: 0px;
  }

/* Styles for the form structure */
  .dataForm form {
    margin-right: 20px;
    margin-left: 20px;
    justify-items: center;
  }

  /* Container for checkboxes with scrollable content */
  .checkBoxContainer { 
    border:2px solid #ccc;
    width:300px;
    height: 100px; 
    overflow-y: scroll;
    scrollbar-color: white black;
    background: transparent;
    border: 2px solid #c9e1ef;
}

/* Inverts colors for the calendar picker icon */
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
