/* Container for the registration form */
.registrationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    width: 400px;
    height: 460px; 
    margin: auto;
    border: 1px solid hsl(0, 0%, 80%);
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.CycleLogo {
    width: 200px;
}

/* Form group styling */
.formGroup {
    width: 100%;
    margin-bottom: 15px;
}

/* Label styling */
.formGroup label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

/* Input field styling */
.formGroup input {
    width: 100%;
    height: 45px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #e3f0f6;
    color: black;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Autofill background color */
.formGroup input:-webkit-autofill {
    background-color: #e3f0f6 !important; 
    color: black !important; /* Set text color */
    -webkit-box-shadow: 0 0 0px 1000px #e3f0f6 inset; 
    box-shadow: 0 0 0px 1000px #e3f0f6 inset; /* For other browsers */
}

/* Adjust font color for autofill */
.formGroup input:-webkit-autofill {
    -webkit-text-fill-color: black !important; /* Set text color */
}

/* Input field focus state */
.formGroup input:focus {
    border-color: #007bff;
    outline: none;
    background-color: #fff;
}

.inputGroup{
    position: relative;
    display: flex;
    align-items: center;
}

/* Styling for the input-group-append to position the icon */
.inputGroupAppend {
    position: absolute;
    right: 10px;
    height: 100%;
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}

/* Input group text (icon) styling */
.inputGroupText {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #191818;
    font-size: 18px;
}

/* Register button styling */
.registerButton {
    width: 100%;
    height: 42px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #00448d;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

/* Register button hover state */
.registerButton:hover {
    background-color: #0056b3;
}

/* Add some spacing between elements */
.registrationContainer form {
    width: 100%;
}
