/* Styles for Team Tabs */
.TeamTabs {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Adds space between the tabs */
}

/* Button Styling within the Team Tabs */
.TeamTabs button {
    background-color: #263d8300;
    padding: 5px; /* Optional: Add padding for a better button size */
    border: none;
    cursor: pointer;
    font-family: 'Caudex';
}

/* Active Tab Styling */
.TeamTabs button.active {
    border-bottom: 2px solid #254ad281; /* Underline for the active tab */
}

/* Hover Effect for Tab Buttons */
.TeamTabs button:hover {
    opacity: 0.7; /* Optional: Add hover effect */
}

.UoPLogoTab , .UoCLogoTab , .PRCLogoTab , .HUoILogoTab , .NTNULogoTab {
    width: 180px;
}

.SUoTLogoTab , .KMIoTLLogoTab{
    width: 65px;
}

/* Styling for University of Peradeniya (UoP) Team Section */
.UoPTeam {
    border: 2px solid hsl(51, 89%, 58%);
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 50px;
    background-color: hsl(53, 36%, 95%);

}

/* Logo Centering for UoP */
.UoPLogo {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    text-align: center;
    width: 350px;
    margin: 0 auto; /* Center the container horizontally */
    margin-bottom: 20px;
}

/* Team Section Titles */
.UoPTeamTitle {
    text-align: center;
    margin-bottom: 1%;
    font-size: 25px;
}

/* Subtitles for Each Team Member Section */
.TeamSubTitle {
    text-align: center;
    margin-bottom: 1%;
    font-size: 18px;
    color: #942300;
}

/* Card Layout for Team Members */
.TeamCards {
    display: center;
    margin-bottom: 1%;
    text-align: center;
    border-radius: 1em;
}

/* Styling for Individual Team Cards */
.TeamCard {
    border: 2px solid hsl(51, 89%, 58%);
    padding: 20px;
    display: inline-block;
    background-color: hsl(51, 48%, 92%);
    border-radius: 1em;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
    width: 350px;
    height: 100%;
}

/* Hover Effect for Team Cards */
.TeamCards :hover {
  transform: scale(1.05);
}

/* Link Styling within Team Cards */
.TeamCard a{
    color: #9d1d06; /* Default link color */
    text-decoration: none;
    font-size: 16px;
}

.TeamCard a:hover{
    color: hsl(6, 78%, 68%); /* Default link color */
    text-decoration: none;
    font-size: 16px;
}

/* List Styling for Team Details */
.TeamCard ul{
    list-style-type: none;
    font-size: 16px;
    padding: 0;
}

/* Styling for Profile Pictures in Team Cards */
.TeamProfilePic{
    width: 150px;
    height: auto;
    border-radius: 50%;
}

/* Bold Name Styling for Team Members */
.TeamMemberName{
    font-weight: bold;
    color:hsl(0, 0%, 0%);
    font-size: 18px;
}

/* Specific Team Sections */
/* University of Colombo*/
.UoCTeam {
    border: 2px solid hsl(0, 0%, 1%);
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 50px;
    background-color: hsl(0, 0%, 97%);
}

.UoCLogo {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    text-align: center;
    width: 350px;
    margin: 0 auto; /* Center the container horizontally */
    margin-bottom: 20px;
}

.UoCTeamSubTitle {
    text-align: center;
    margin-bottom: 1%;
    font-size: 18px;
    color: #000000;
}

.UoCTeamCards {
    display: center;
    margin-bottom: 1%;
    text-align: center;
    border-radius: 1em;
}

.UoCTeamCard {
    border: 2px solid hsl(0, 0%, 0%);
    padding: 20px;
    display: inline-block;
    background-color: hsl(0, 0%, 91%);
    border-radius: 1em;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
    width: 350px;
    height: 100%;
}

.UoCTeamCards :hover {
  transform: scale(1.05);
}

.UoCTeamCard a{
    color: #000000; /* Default link color */
    text-decoration: none;
    font-size: 16px;
}

.UoCTeamCard a:hover{
    color: hsl(0, 0%, 49%); /* Default link color */
    text-decoration: none;
    font-size: 16px;
}

.UoCTeamCard ul{
    list-style-type: none;
    font-size: 16px;
    padding: 0;
}

.UoCTeamProfilePic{
    width: 150px;
    height: auto;
    border-radius: 50%;
}


/* Piraeus Research Center*/
.PRCTeam {
    border: 2px solid hsl(223, 83%, 19%);
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 50px;
    background-color: hsl(205, 32%, 93%);

}

.PRCLogo {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    text-align: center;
    width: 350px;
    margin: 0 auto; /* Center the container horizontally */
    margin-bottom: 20px;
}

.PRCTeamSubTitle {
    text-align: center;
    margin-bottom: 1%;
    font-size: 18px;
    color: hsl(223, 83%, 19%);
}

.PRCTeamCards {
    display: center;
    margin-bottom: 1%;
    text-align: center;
    border-radius: 1em;
}

.PRCTeamCard {
    border: 2px solid hsl(223, 83%, 19%);
    padding: 20px;
    display: inline-block;
    background-color: hsl(208, 53%, 88%);
    border-radius: 1em;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
    width: 350px;
    height: 100%;
}

.PRCTeamCards :hover {
  transform: scale(1.05);
}

.PRCTeamCard a{
    color: hsl(223, 83%, 19%); /* Default link color */
    text-decoration: none;
    font-size: 16px;
}

.PRCTeamCard a:hover{
    color: hsl(210, 43%, 50%); /* Default link color */
    text-decoration: none;
    font-size: 16px;
}

.PRCTeamCard ul{
    list-style-type: none;
    font-size: 16px;
    padding: 0;
}

.PRCTeamProfilePic{
    width: 150px;
    height: auto;
    border-radius: 50%;
}



/* Hanoi University of Industry */
.HUoITeam {
    border: 2px solid hsl(0, 75%, 54%);
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 50px;
    background-color: hsl(0, 54%, 97%);

}

.HUoILogo {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    text-align: center;
    width: 350px;
    margin: 0 auto; /* Center the container horizontally */
    margin-bottom: 20px;
}

.HUoITeamSubTitle {
    text-align: center;
    margin-bottom: 1%;
    font-size: 18px;
    color: hsl(0, 75%, 54%);
}

.HUoITeamCards {
    display: center;
    margin-bottom: 1%;
    text-align: center;
    border-radius: 1em;
}

.HUoITeamCard {
    border: 2px solid hsl(0, 75%, 54%);
    padding: 20px;
    display: inline-block;
    background-color: hsl(0, 63%, 95%);
    border-radius: 1em;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
    width: 350px;
    height: 100%;
}

.HUoITeamCards :hover {
  transform: scale(1.05);
}

.HUoITeamCard a{
    color: hsl(0, 75%, 54%); /* Default link color */
    text-decoration: none;
    font-size: 16px;
}

.HUoITeamCard a:hover{
    color: hsl(0, 69%, 58%); /* Default link color */
    text-decoration: none;
    font-size: 16px;
}

.HUoITeamCard ul{
    list-style-type: none;
    font-size: 16px;
    padding: 0;
}

.HUoITeamProfilePic{
    width: 150px;
    height: auto;
    border-radius: 50%;
}


/* Suranaree University of Technology */

.SUoTTeam {
    border: 2px solid hsl(39, 62%, 43%);
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 50px;
    background-color: hsl(30, 25%, 94%);

}

.SUoTLogo {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    text-align: center;
    width: 150px;
    margin: 0 auto; /* Center the container horizontally */
    margin-bottom: 20px;
}

.SUoTTeamSubTitle {
    text-align: center;
    margin-bottom: 1%;
    font-size: 18px;
    color: hsl(39, 62%, 43%);
}

.SUoTTeamCards {
    display: center;
    margin-bottom: 1%;
    text-align: center;
    border-radius: 1em;
}

.SUoTTeamCard {
    border: 2px solid hsl(39, 62%, 43%);
    padding: 20px;
    display: inline-block;
    background-color: hsl(24, 50%, 89%);
    border-radius: 1em;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
    width: 350px;
    height: 100%;
}

.SUoTTeamCards :hover {
  transform: scale(1.05);
}

.SUoTTeamCard a{
    color: hsl(39, 62%, 43%); /* Default link color */
    text-decoration: none;
    font-size: 16px;
}

.SUoTTeamCard a:hover{
    color: hsl(25, 46%, 46%); /* Default link color */
    text-decoration: none;
    font-size: 16px;
}

.SUoTTeamCard ul{
    list-style-type: none;
    font-size: 16px;
    padding: 0;
}


/* NTNU */

.NTNUTeam {
    border: 2px solid hsl(219, 52%, 38%);
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 50px;
    background-color: hsl(224, 85%, 97%);

}

.NTNULogo {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    text-align: center;
    width: 250px;
    margin: 0 auto; /* Center the container horizontally */
    margin-bottom: 20px;
}

.NTNUTeamSubTitle {
    text-align: center;
    margin-bottom: 1%;
    font-size: 18px;
    color: hsl(219, 52%, 38%);
}

.NTNUTeamCards {
    display: center;
    margin-bottom: 1%;
    text-align: center;
    border-radius: 1em;
}

.NTNUTeamCard {
    border: 2px solid hsl(219, 52%, 38%);
    padding: 20px;
    display: inline-block;
    background-color: hsl(221, 66%, 94%);
    border-radius: 1em;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
    width: 350px;
    height: 100%;
}

.NTNUTeamCards :hover {
  transform: scale(1.05);
}

.NTNUTeamCard a{
    color: hsl(219, 52%, 38%); /* Default link color */
    text-decoration: none;
    font-size: 16px;
}

.NTNUTeamCard a:hover{
    color: hsl(221, 35%, 46%); /* Default link color */
    text-decoration: none;
    font-size: 16px;
}

.NTNUTeamCard ul{
    list-style-type: none;
    font-size: 16px;
    padding: 0;
}

/* King Mongkut's Institute of Technology Ladkr */

.KMIoTLTeam {
    border: 2px solid hsl(26, 95%, 51%);
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 50px;
    background-color: hsl(24, 100%, 98%);

}

.KMIoTLLogo {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    text-align: center;
    width: 150px;
    margin: 0 auto; /* Center the container horizontally */
    margin-bottom: 20px;
}

.KMIoTLTeamSubTitle {
    text-align: center;
    margin-bottom: 1%;
    font-size: 18px;
    color: hsl(26, 95%, 51%);
}

.KMIoTLTeamCards {
    display: center;
    margin-bottom: 1%;
    text-align: center;
    border-radius: 1em;
}

.KMIoTLTeamCard {
    border: 2px solid hsl(26, 95%, 51%);
    padding: 20px;
    display: inline-block;
    background-color: hsl(26, 47%, 93%);
    border-radius: 1em;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
    width: 350px;
    height: 100%;
}

.KMIoTLTeamCards :hover {
  transform: scale(1.05);
}

.KMIoTLTeamCard a{
    color: hsl(26, 95%, 51%); /* Default link color */
    text-decoration: none;
    font-size: 16px;
}

.KMIoTLTeamCard a:hover{
    color: hsl(26, 79%, 63%); /* Default link color */
    text-decoration: none;
    font-size: 16px;
}

.KMIoTLTeamCard ul{
    list-style-type: none;
    font-size: 16px;
    padding: 0;
}

/* Media Queries for Responsive Design */
@media (max-width: 1000px) {
    .TeamTabs {
        margin-bottom: 20px;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        flex-direction: column; /* Makes the tabs stack vertically */
        align-items: center;    /* Centers the tabs horizontally */
        gap: 10px; /* Adds space between the tabs */
    }

    .TeamTabs button {
        background-color: #263d8300;
        border: none;
        cursor: pointer;
        padding: 10px; /* Optional: Add padding for a better button size */
    }

}