/* Table containers */
.container {
  display:flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid hsl(222, 83%, 98%);
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(63, 108, 148, 0.1),  
              -2px -2px 5px rgba(255, 255, 255, 0.7), 
              2px -2px 5px rgba(255, 255, 255, 0.7), 
              -2px 2px 5px rgba(63, 108, 148, 0.1);
  margin: 20px;
  padding: 10px;    
}
.tableContainer {
  margin: 0px;
  padding: 0px;
  overflow-x: auto; 
  max-height: 80vh; 
  overflow-y: auto; 
}

/* Table to display data*/
.table {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

/*Table headers */
.table thead{
  position: sticky; 
  top: 0px; 
  z-index: 3;
}
.table thead th {
  background-color: #ecf6fc;
  color: #333;
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid #b2c8e6;
}

/*Table cells */
.table tbody td{
  padding: 10px;
  border-bottom: 1px solid #b2c8e6;
  align-items: center;
}

/* Hover effect for table cells */
.table tbody tr:hover {
  background-color: #f3f7f9;
}

/* Styling for the table footer */
.table tfoot span {
  font-size: 14px;
  font-style: italic;
  color: #555;
  display: block;
  padding: 10px;
  text-align: right;
}

/* Table inside the dialog box*/
.tableInDialogBox {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

/*Table headers */
.tableInDialogBox thead{
  position: sticky; 
  top: 0px; 
  z-index: 3;
}
.tableInDialogBox thead th {
  background-color: #ecf6fc;
  color: #333;
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid #b2c8e6;
}

/*Table cells */
.tableInDialogBox tbody td{
  text-align: center;       /* Centers the content horizontally */
  vertical-align: middle;   /* Centers the content vertically */
  padding: 10px;
  border-bottom: 1px solid #b2c8e6;
}
/* Hover effect for table cells */
.tableInDialogBox tbody td:hover {
  background-color: #f3f7f9;
}

/* Optional: Media query for smaller screens */
@media screen and (max-width: 600px) {
  .table thead {
    display: none;
  }

  .table tbody tr {
    display: block;
    margin-bottom: 10px;
  }

  .table tbody td, 
  .table tbody th {
    display: block;
    text-align: right;
    border-bottom: 1px solid #ddd;
  }
/* TODO : UPDATE jsx accordingly */
  .table tbody td::before, 
  .table tbody th::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}