
.paragraph{
    border: 2px solid hsl(225, 87%, 21%);
    border-radius: 20px;
    /* box-shadow: 2px 2px 5px rgba(63, 108, 148, 0.1), 
                -2px -2px 5px rgba(255, 255, 255, 0.7), 
                2px -2px 5px rgba(255, 255, 255, 0.7), 
                -2px 2px 5px rgba(63, 108, 148, 0.1); */
    padding: 20px;
    display: inline-block;
    background-color: hsl(0, 0%, 100%);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    text-align: center;
    font-family: 'Caudex';
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 4% 4% 4% 4%;
    padding: 10px;
  }
  
  .leftColumn {
    width: 55%;
  }
  
  .rightColumn {
    width: 45%;
  }
  
  .partnerLogoImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.HoveringImg:hover{
    transform: scale(1.2);
    opacity: 0.8;
}

.HoveringImg{
    height:130px
}

.partnerLogoImages{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
   align-items: center;
}

.partnersList{
    display: none
}

.projectSummaryFlex{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
  }
  
.projectSummaryFlexItem {
width:29%;
display: flex;
align-items: center;
/* background: rgb(255, 255, 255); */
padding: 10px 20px;
color:#000000 ;
}

.projectSummaryFlexItem p {
margin: 0;
}

.projectSummaryFlexItem .bold {
font-weight: 700;
}

.projectSummaryFlexItem svg {
margin-right: 13px;
font-size: 1.5em;
color:#004594ca ;
}


.proj_desc {
  padding: 20px;
  display: inline-block;
  border: 2px solid rgba(10, 48, 128);
  border-radius: 20px;
  background-color: #eaf1f8;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: 'Caudex';
}

.proj_desc p:hover {
  transform: scale(1.01);
}

/* Initially hidden */
.hidden {
  opacity: 0;
  transform: translateY(50px); /* Start with an offset */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Smooth transition */
}

/* Visible state */
.visible {
  opacity: 1;
  transform: translateY(0); /* Bring it to the original position */
}

.TargetGroupCards {
  align-items: left;
  justify-content: left;
  display: left;
  width: auto;
}

.TargetGroupCard {
  border-radius: 1em;
  display: inline-block;
  margin-bottom: 5%;
  text-align: center;
  width: 400px; 
  height: 100px;
  color:#000000;
  font-size: 18px;
  flex-direction: row;
}

.TargetGroupCard:hover {
  transform: scale(1.05);

}

.tgicon {
  width: 30px;
  height: 30px;
  display: center;
  align-items: center;
  color:#0a6b29 ;

}

.targetgroupsecsion {
  border: 2px solid hsl(105, 68%, 24%);
  background-color: hsl(104, 60%, 95%);
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 5%;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: 'Caudex';
}
@media screen and (max-width: 1300px) {
  .rightColumn{
    display: none;
  }
}

@media screen and (max-width: 1000px) {

    .partnersList{
        display: block
    }
    .partnerLogoImages{
        display:none;
    }
    .projectSummaryFlexItem{
        width:50%;
    }

    .proj_desc:hover {
      transform: none;
    }

    .TargetGroupCard {
      width: 300px; 
    }
}

