
.paragraph{
    border: 1px solid hsl(222, 83%, 98%);
    /*border-radius: 20px;*/
    /* box-shadow: 10px 10px 10px rgba(63, 108, 148, 0.1); */
    box-shadow: 2px 2px 5px rgba(63, 108, 148, 0.1), 
                -2px -2px 5px rgba(255, 255, 255, 0.7), 
                2px -2px 5px rgba(255, 255, 255, 0.7), 
                -2px 2px 5px rgba(63, 108, 148, 0.1);
    padding: 20px;
    display: inline-block;
    /* background-color: hsl(128, 27%, 89%); */
    background-color: hsl(0, 0%, 100%);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    text-align: left;
    font-family: 'Caudex';
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 4% 4% 4% 4%;
    padding: 10px;
  }
  
  .leftColumn {
    width: 55%;
  }
  
  .rightColumn {
    width: 45%;
  }
  
  .partnerLogoImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.HoveringImg:hover{
    transform: scale(1.2);
    opacity: 0.8;
}

.HoveringImg{
    height:130px
}

.partnerLogoImages{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
   align-items: center;
}

.partnersList{
    display: none
}

.projectSummaryFlex{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
  }
  
.projectSummaryFlexItem {
width:29%;
display: flex;
align-items: center;
background: rgb(255, 255, 255);
padding: 10px 20px;
color:#004494 ;
}

.projectSummaryFlexItem p {
margin: 0;
}

.projectSummaryFlexItem .bold {
font-weight: 700;
}

.projectSummaryFlexItem svg {
margin-right: 13px;
font-size: 1.5em;
color:#004594ca ;
}


.proj_desc {
  padding: 60px;
  display: inline-block;
  background-color: #172953;
  margin-bottom: 2%;
  text-align: center;
  color: white;
  font-family: 'Caudex';
}

/* .proj_desc:hover {
  transform: scale(1.05);
} */



.TargetGroupCards {
  align-items: left;
  justify-content: left;
  display: left;
  width: auto;
}

.TargetGroupCard {
  border-radius: 1em;
  display: inline-block;
  margin-bottom: 5%;
  margin-top: 10px;
  text-align: center;
  width: 400px; 
  height: 100px;
  color:#ffffff;
  font-size: 18px;
  flex-direction: row;
}

.TargetGroupCard:hover {
  transform: scale(1.05);

}

.tgicon {
  width: 30px;
  height: 30px;
  display: center;
  align-items: center;
  color:#ffffff ;

}

.targetgroupsecsion {
  display: inline-block;
  background-color: #172953;
  margin-bottom: 5%;
  margin-top: 2%;
  text-align: center;
  color: white;
  width: 100%;
}

@media screen and (max-width: 1000px) {

    .partnersList{
        display: block
    }
    .partnerLogoImages{
        display:none;
    }
    .projectSummaryFlexItem{
        width:50%;
    }

    .proj_desc:hover {
      transform: none;
    }

    .TargetGroupCard {
      width: 300px; 
    }
}

