
:root {
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(0, 0, 0, 0.87);
    background-color: #ffffff;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body{
    margin: 0px;
  }
  
  main{
    margin: 20px;
  }
  a {
    font-weight: 600;
    font-size: 0.9em;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  
  h1 {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 5em;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  h2 {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1.5em;
    margin-top: 0px;
  }
  
  .logo-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0px 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
    transition: transform 2s ease, opacity 0.5s ease;
  }
  
  .Erasmus-plus-Logo:hover {
    transform: scale(1.02);
    opacity: 0.8;
  }
  
  .Erasmus-plus-Logo{
    margin-top: 20px;
    width: 150px;
    margin-left: 100px;
    margin-right: 70px;
    height: auto;
  }
  
  .Cycle-Logo{
    width: 280px;
    height: auto;
    margin-right: 30px;
    margin-top: 20px
  }
  
  nav {
    overflow: hidden;
  }
  
  .headerNavBar ul{
    list-style-type: none;
    background-color: hsla(220, 53%, 85%, 0.951);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
  }
  
  .headerNavBar a{
    color: rgb(50, 78, 148);
    text-decoration: none; /*removes the underline*/
    padding: 10px 30px;
    display: block;
    text-align: center;
    width: 185px;
  }
  
  .headerNavBar a:hover{
    background-color: hsla(214, 85%, 71%, 0.951);
  }
  
  .headerNavBar li{
    float: left;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    border-color: hsla(214, 54%, 60%);
    background-color: hsla(214, 85%, 71%);
    box-shadow: rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a{
    color: rgb(50, 78, 148);
    text-decoration: none; /*removes the underline*/
    padding: 10px 30px;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover{
    background-color: hsla(220, 53%, 85%, 0.951);
  }
  
  .headerDropDown:hover .dropdown-content{
    display: block;
  }

  /* Media queries for responsiveness */
@media screen and (max-width: 1485px) {
  .logo-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .Erasmus-plus-Logo {
      width: 100px; /* smaller width for medium screens */
  }

  .Cycle-Logo {
      width: 200px; /* smaller width for medium screens */
  }
  h1 {
    font-size: 4em;
    font-weight: 600;
  }
  
  h2 {
    font-size: 0.9em;
    font-weight: 400;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
}

.headerNavBar a {
    padding: 10px 25px;
    text-align: center;
    width: 150px;
}

.dropdown-content a{
  padding: 10px 25px;
}

.nav-toggle {
    display: block;
    margin: 10px;
}

a {
  font-weight: 500;
  font-size: 0.8em;
  color: #646cff;
  text-decoration: inherit;
}

}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2em;
    font-weight: 600;
  }
  
  h2 {
    font-size: 0.6em;
    font-weight: 400;
  }

  .logo-block {
      flex-direction: column;
      align-items: center;
  }

  .Erasmus-plus-Logo {
      display: none;
  }

  .Cycle-Logo {
      display: none;
  }

  nav ul {
      flex-direction: column;
      align-items: center;
  }

  .headerNavBar a {
      padding: 10px 25px;
      text-align: center;
      width: 130px;
  }

  .dropdown-content a{
    padding: 10px 25px;
  }

  .nav-toggle {
      display: block;
      margin: 10px;
  }

  a {
    font-weight: 500;
    font-size: 0.8em;
    color: #646cff;
    text-decoration: inherit;
  }
}