
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(0, 0, 0, 0.87);
    background-color: #ffffff;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body{
    margin: 0px;
  }
  
  main{
    margin: 20px;
  }
  a {
    font-weight: 600;
    font-size: 1em;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  
  h1 {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 5em;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  h2 {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1.5em;
    margin-top: 0px;
  }
  
  .logo-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0px 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
    transition: transform 2s ease, opacity 0.5s ease;
  }
  
  .Erasmus-plus-Logo:hover {
    transform: scale(1.02);
    opacity: 0.8;
  }
  
  .Erasmus-plus-Logo{
    margin-top: 20px;
    max-width: 45%;
    margin-left: 40px;
    height: auto;
  }
  
  .Cycle-Logo{
    max-width: 20%;
    height: auto;
    margin-right: 20px;
  }
  
  nav {
    overflow: hidden;
  }
  
  .headerNavBar ul{
    list-style-type: none;
    background-color: hsla(220, 53%, 85%, 0.951);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
  }
  
  .headerNavBar a{
    color: rgb(50, 78, 148);
    text-decoration: none; /*removes the underline*/
    padding: 10px 30px;
    display: block;
    text-align: center;
    width: 188px;
  }
  
  .headerNavBar a:hover{
    background-color: hsla(214, 85%, 71%, 0.951);
  }
  
  .headerNavBar li{
    float: left;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    border-color: hsla(214, 54%, 60%);
    background-color: hsla(214, 85%, 71%);
    box-shadow: rgba(0,0,0,0.2);
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a{
    color: rgb(50, 78, 148);
    text-decoration: none; /*removes the underline*/
    padding: 10px 30px;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover{
    background-color: hsla(220, 53%, 85%, 0.951);
  }
  
  .headerDropDown:hover .dropdown-content{
    display: block;
  }